body {
	font-family: source-code-pro, sans-serif;
}

section.category-container {
  margin: 25px 0;
  padding: 15px 0;
}

span.category {
  color: white;
  background: blue;
  padding: 10px 20px;
}

hr.big {
  border: 5px 0 0 0;
	border-top: 5px solid #E2DFDF;
  padding: 10px 20px;
}