body {
  font-family: kaffeesatz, sans-serif;
  font-size: 20px;
}

hr.big {
  border-top: 10px solid #333333;
}

.bereich {
  margin: 10px 25px;
  /*page-break-after: always;*/
  page-break-inside: avoid;
}

.bereich>.kategorie {
  padding: 25px;
  border: 3px solid #B8B8B8;
}

.bereich>.kategorie#basisangaben {
  background-color: #B8B8B8;
  color: #FFFFFF;
  border-bottom-width: 0;
}

.bereich>.kategorie#erweiterte-angaben {
  margin-top: -10px;
  border-top-width: 0;
}

.bereich>.kategorie h2 {
  display: block;
  font-family: dhyana, sans-serif;
  padding: 10px;
  background: #E8E8E8;
}

.bereich>.kategorie h2.ueberschrift {
  background: #B8B8B8;
  margin-right: -35px;
  padding-right: 35px;
}

.centered {
  width: auto;
}

.text {
  display: inline-block !important;
  width: 49%;
  min-width: 150px;
  margin-right: -2%;
}

div.text {
  padding-left: 2%;
  border-bottom: 1px solid #B8B8B8;
}

.bereich>.kategorie#basisangaben div.text {
  border-color: #FFFFFF;
}

.spacer {
  height: 30px;
  display: block;
}



/*======================================
              Print Styles
======================================*/
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .bereich>.kategorie#basisangaben {
    background-color: #B8B8B8 !important;
    color: #FFFFFF !important;
    border-bottom-width: 0;
  }

  .bereich>.kategorie#erweiterte-angaben {
    margin-top: -10px;
    border-top-width: 0;
  }

  .bereich>.kategorie h2.ueberschrift {
    background: #B8B8B8;
    margin-right: -35px;
    padding-right: 35px;
  }

  body {
    font-size: 14px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

}